body {
  overflow-x: hidden;
}

//Navbar

.navbar {
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .active {
        border-left: #444 3px solid;
      }
    }
  }
}
#showcase {
  .carousel {
    .carousel-inner {
      .carousel-item {
        background-size: cover;
        background-repeat: no-repeat;
        height: 450px;
        .btn-danger {
          background: yellow;
          color: green;
        }
      }
    }
  }
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: url(/img/lights.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#video-play {
  min-height: 200px;
  background: url(/img/media.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
  a {
    color: #fff;
  }
}
